@charset "UTF-8";

.py-4 {
	margin: 20px;
}

.title {
	text-align: center;
}

form {
	margin: 0 auto;
	width: 550px;
}

.question-tbl {
	margin: 20px 0;
}

.input {
	width: 450px;
}

.button {
	text-align: right;
	margin-top: 30px;
	margin-right: 20px;
}

button {
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: rgba(0, 0, 0, 0.03);
}