@charset "UTF-8";

.py-4 {
	margin: 20px;
}

.title {
	text-align: center;
	margin-bottom: 50px;
}

.history {
	margin: 0 auto;
	width: 35%;
}

th {
	width: 10%;
	height: 30px;
}

td {
	height: 30px;
}
